* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

body {
  background-color: #cad2c5;
  font-family: "Barlow", sans-serif;
}

#headerindex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 17vh;
  background-color: #52796F;
  border-bottom: 7px solid #cad2c582;
}
@media only screen and (max-width: 680px) {
  #headerindex {
    flex-wrap: wrap;
  }
  #headerindex #tituloindex {
    order: -1;
  }
}
@media only screen and (max-width: 480px) {
  #headerindex {
    height: 20vh;
  }
}
#headerindex #menudesplegable {
  width: 12%;
}
@media only screen and (max-width: 680px) {
  #headerindex #menudesplegable {
    width: 40%;
  }
}
#headerindex #menudesplegable select {
  background-color: #9db1b3;
  box-shadow: 5px 5px 15px 5px #000000;
  width: 100%;
  border-radius: 10px;
  margin: 5vh 2vw;
  border: 1px solid black;
  padding: 1vh 0vw;
}
#headerindex #menudesplegable select:hover {
  opacity: 85%;
}
@media only screen and (max-width: 680px) {
  #headerindex #menudesplegable select {
    margin: 2vh 0vw;
  }
}
#headerindex #menudesplegable select option {
  color: black;
}
#headerindex #menudesplegable select optgroup {
  color: #2F3E46;
}
#headerindex #tituloindex {
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 1vh 1vw;
  margin: 7vh auto;
  margin-top: 2%;
  text-decoration: overline;
}
@media only screen and (min-width: 680px) and (max-width: 900px) {
  #headerindex #tituloindex {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 680px) {
  #headerindex #tituloindex {
    font-size: 1em;
    width: 100%;
    margin: 1vh auto;
  }
}
#headerindex #carrito {
  color: #2F3E46;
  font-size: 2em;
  text-align: center;
  padding: 1vh 1vw;
  border: 3px solid white;
  border-radius: 10px;
  background-color: #ffffff54;
  height: 7vh;
  width: 5vw;
  margin: 3vh 5vh;
}
#headerindex #carrito:hover {
  color: #9db1b3;
}
@media only screen and (max-width: 680px) {
  #headerindex #carrito {
    font-size: 1.5em;
    background-color: #52796F;
    border: none;
    height: 0;
    margin: 1vh 0vw;
  }
}
#headerindex #carrito a {
  text-decoration: none;
  color: #2F3E46;
}
#headerindex #carrito a:visited {
  color: #2F3E46;
}

#menusecundario {
  width: 100%;
}
#menusecundario .menumobile {
  display: none;
}
@media only screen and (max-width: 780px) {
  #menusecundario .menumobile {
    display: block;
  }
}
#menusecundario .menumobile label {
  cursor: pointer;
}
#menusecundario .menumobile label .botonmenu {
  display: block;
  width: 98%;
  margin-left: 0.2vw;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 5px rgba(0, 0, 0, 0.36);
  background-color: #2F3E46;
  display: block;
  padding: 1vw 1vh;
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  font-weight: 900;
}
@media only screen and (max-width: 480px) {
  #menusecundario .menumobile label .botonmenu {
    width: 96%;
  }
}
#menusecundario .menumobile label .botonmenu span {
  display: block;
  width: 0vw;
  height: 4px;
  background: white;
  margin: 0vh 0 2vh 0;
}
#menusecundario .menumobile #menu-toggle {
  display: none;
}
#menusecundario .menumobile #desplegarmenu {
  display: none;
  text-align: center;
  padding: 10px 0;
  list-style: none;
  width: 100%;
  margin-top: -1vh;
  position: absolute;
  z-index: 100;
}
#menusecundario .menumobile #desplegarmenu li {
  border: 1px solid white;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 5px rgba(0, 0, 0, 0.36);
}
#menusecundario .menumobile #desplegarmenu li a {
  display: block;
  color: white;
  background-color: #2F3E46;
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  padding: 1vh 1vw;
  text-decoration: none;
}
#menusecundario #menu-toggle:checked + #desplegarmenu {
  display: block;
  animation-duration: 2.5s;
  animation-name: slidein1;
}
@keyframes slidein1 {
  from {
    height: 0%;
    opacity: 0%;
  }
  to {
    height: 100%;
    opacity: 100%;
  }
}
#menusecundario .contenedornavbarindex {
  width: 100%;
  animation-duration: 3.5s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@media only screen and (max-width: 780px) {
  #menusecundario .contenedornavbarindex {
    display: none;
  }
}
#menusecundario .contenedornavbarindex .navbarindex {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2F3E46;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 5px rgba(0, 0, 0, 0.36);
}
#menusecundario .contenedornavbarindex .navbarindex .menu1 {
  width: 25%;
}
#menusecundario .contenedornavbarindex .navbarindex a {
  display: block;
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  padding: 1vw 1vh;
  text-decoration: none;
}
#menusecundario .contenedornavbarindex .navbarindex a:hover {
  background-color: rgba(255, 255, 255, 0.33);
  opacity: 40%;
}

#trabajos {
  width: 70%;
  height: 81vh;
  border-radius: 10px;
  background-image: url(../imagenes/constru.jpeg);
  object-fit: contain;
  margin: 1vh auto;
}
#trabajos p {
  background-color: rgba(245, 245, 245, 0.282);
  font-size: 3em;
  color: #2F3E46;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
@media only screen and (max-width: 680px) {
  #trabajos p {
    font-size: 2em;
  }
}

#cimientos {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: #9db1b3;
  border-radius: 10px;
  margin: 4vh auto;
  position: absolute;
  top: 24%;
  left: 25%;
}
@media only screen and (max-width: 680px) {
  #cimientos {
    width: 80%;
    position: absolute;
    top: 24%;
    left: 9vw;
  }
}
#cimientos .titulotrabajo {
  font-size: 2em;
  color: #27333a;
  text-align: center;
  font-weight: bold;
  background-color: rgba(245, 245, 245, 0.35);
  width: 100%;
  padding: 3vh 0vw;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#cimientos #hormigon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 7px solid #ffffff59;
}
#cimientos #hormigon p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1vh 1vw;
}
#cimientos #hormigon .tipohormigon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 3vh 0 3vh 0;
}
#cimientos #hormigon label {
  font-size: 1em;
  color: #27333a;
  text-align: left;
  padding: 1vh 2vw;
  font-weight: bold;
}
#cimientos #ladrillos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 7px solid #ffffff59;
}
#cimientos #ladrillos p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1vh 1vw;
}
#cimientos #ladrillos .tipoladrillo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 3vh 0 4vh 5vw;
}
#cimientos #ladrillos .tipoladrillo label {
  font-size: 1em;
  color: #27333a;
  text-align: left;
  margin-top: 1vh;
  font-weight: bold;
  width: 45%;
}
#cimientos #paredes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 7px solid #ffffff59;
}
#cimientos #paredes p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1vh 1vw;
}
#cimientos #paredes .anchopared {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 3vh 0 4vh 18vw;
}
@media only screen and (max-width: 480px) {
  #cimientos #paredes .anchopared {
    margin: 3vh auto;
  }
}
#cimientos #paredes .anchopared label {
  font-size: 1em;
  color: #27333a;
  text-align: left;
  margin-top: 1vh;
  font-weight: bold;
  width: 45%;
}
#cimientos #metroscuadrados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 7px solid #ffffff59;
}
#cimientos #metroscuadrados p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1vh 1vw;
}
#cimientos #metroscuadrados .cantidadmetros {
  margin: 3vh 0 3vh 9vw;
}
#cimientos #metroscuadrados .cantidadmetros label {
  font-size: 1em;
  color: #27333a;
  text-align: center;
  padding: 1vh 2vw;
  margin: 3vh auto;
  font-weight: bold;
}
#cimientos #metroscuadrados .cantidadmetros label input {
  width: 20%;
  color: white;
  font-weight: bold;
  background-color: #636e6f;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  height: 4vh;
  margin-left: 2vw;
  text-align: center;
}
#cimientos #botoncalcular {
  width: 30%;
  margin: 4vh 0 4vh 5vw;
}
@media only screen and (max-width: 680px) {
  #cimientos #botoncalcular {
    width: 38%;
  }
}
#cimientos #botoncalcular label input {
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 1vh 1vw;
  background-color: #27333a;
}
#cimientos #botoncalcular label input:hover {
  opacity: 90%;
  background-color: #455964;
}

#capavertical {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: #9db1b3;
  border-radius: 10px;
  position: absolute;
  top: 28%;
  left: 25%;
}
@media only screen and (max-width: 680px) {
  #capavertical {
    width: 80%;
    position: absolute;
    top: 28%;
    left: 9vw;
  }
}
#capavertical .titulotrabajo {
  font-size: 2em;
  color: #27333a;
  text-align: center;
  font-weight: bold;
  background-color: rgba(245, 245, 245, 0.35);
  width: 100%;
  padding: 3vh 0vw;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#capavertical #metroscuadrados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 7px solid #ffffff59;
}
#capavertical #metroscuadrados p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1vh 1vw;
}
#capavertical #metroscuadrados .cantidadmetros {
  margin: 3vh 0 3vh 9vw;
}
#capavertical #metroscuadrados .cantidadmetros label {
  font-size: 1em;
  color: #27333a;
  text-align: center;
  padding: 1vh 2vw;
  margin: 3vh auto;
  font-weight: bold;
}
#capavertical #metroscuadrados .cantidadmetros label input {
  width: 20%;
  color: white;
  font-weight: bold;
  background-color: #636e6f;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  height: 4vh;
  margin-left: 2vw;
  text-align: center;
}
#capavertical #altocapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 7px solid #ffffff59;
}
#capavertical #altocapa p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1vh 1vw;
}
#capavertical #altocapa .altocapacm {
  margin: 3vh 0 3vh 9vw;
}
#capavertical #altocapa .altocapacm label {
  font-size: 1em;
  color: #27333a;
  text-align: center;
  padding: 1vh 2vw;
  margin: 3vh auto;
  font-weight: bold;
}
#capavertical #altocapa .altocapacm label input {
  width: 20%;
  color: white;
  font-weight: bold;
  background-color: #636e6f;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  height: 4vh;
  margin-left: 2vw;
  text-align: center;
}
#capavertical #botoncalcular {
  width: 30%;
  margin: 4vh 0 4vh 5vw;
}
#capavertical #botoncalcular label input {
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 1vh 1vw;
  background-color: #27333a;
}
#capavertical #botoncalcular label input:hover {
  opacity: 90%;
  background-color: #455964;
}

#capahorizontal {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: #9db1b3;
  border-radius: 10px;
  position: absolute;
  top: 28%;
  left: 25%;
}
@media only screen and (max-width: 680px) {
  #capahorizontal {
    width: 80%;
    position: absolute;
    top: 28%;
    left: 9vw;
  }
}
#capahorizontal .titulotrabajo {
  font-size: 2em;
  color: #27333a;
  text-align: center;
  font-weight: bold;
  background-color: rgba(245, 245, 245, 0.35);
  width: 100%;
  padding: 3vh 0vw;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#capahorizontal #metroscuadrados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 7px solid #ffffff59;
}
#capahorizontal #metroscuadrados p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1vh 1vw;
}
#capahorizontal #metroscuadrados .cantidadmetros {
  margin: 3vh 0 3vh 9vw;
}
#capahorizontal #metroscuadrados .cantidadmetros label {
  font-size: 1em;
  color: #27333a;
  text-align: center;
  padding: 1vh 2vw;
  margin: 3vh auto;
  font-weight: bold;
}
#capahorizontal #metroscuadrados .cantidadmetros label input {
  width: 20%;
  color: white;
  font-weight: bold;
  background-color: #636e6f;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  height: 4vh;
  margin-left: 2vw;
  text-align: center;
}
#capahorizontal #paredes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 7px solid #ffffff59;
}
#capahorizontal #paredes p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1vh 1vw;
}
#capahorizontal #paredes .anchopared {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 3vh 0 4vh 18vw;
}
@media only screen and (max-width: 680px) {
  #capahorizontal #paredes .anchopared {
    margin-left: 7vw;
  }
}
#capahorizontal #paredes .anchopared label {
  font-size: 1em;
  color: #27333a;
  text-align: left;
  margin-top: 1vh;
  font-weight: bold;
  width: 45%;
}
#capahorizontal #botoncalcular {
  width: 30%;
  margin: 4vh 0 4vh 5vw;
}
@media only screen and (max-width: 680px) {
  #capahorizontal #botoncalcular {
    width: 38%;
  }
}
#capahorizontal #botoncalcular label input {
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 1vh 1vw;
  background-color: #27333a;
}
#capahorizontal #botoncalcular label input:hover {
  opacity: 90%;
  background-color: #455964;
}

#mamposteria {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: #9db1b3;
  border-radius: 10px;
  position: absolute;
  top: 28%;
  left: 25%;
}
@media only screen and (max-width: 680px) {
  #mamposteria {
    width: 80%;
    position: absolute;
    top: 28%;
    left: 9vw;
  }
}
#mamposteria .titulotrabajo {
  font-size: 2em;
  color: #27333a;
  text-align: center;
  font-weight: bold;
  background-color: rgba(245, 245, 245, 0.35);
  width: 100%;
  padding: 3vh 0vw;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#mamposteria #ladrillos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 7px solid #ffffff59;
}
#mamposteria #ladrillos p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1vh 1vw;
}
#mamposteria #ladrillos .tipoladrillo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 3vh 0 4vh 5vw;
}
#mamposteria #ladrillos .tipoladrillo label {
  font-size: 1em;
  color: #27333a;
  text-align: left;
  margin-top: 1vh;
  font-weight: bold;
  width: 45%;
}
#mamposteria #paredes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 7px solid #ffffff59;
}
#mamposteria #paredes p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1vh 1vw;
}
#mamposteria #paredes .anchopared {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 3vh 0 4vh 18vw;
}
@media only screen and (max-width: 480px) {
  #mamposteria #paredes .anchopared {
    margin: 3vh auto;
  }
}
#mamposteria #paredes .anchopared label {
  font-size: 1em;
  color: #27333a;
  text-align: left;
  margin-top: 1vh;
  font-weight: bold;
  width: 45%;
}
#mamposteria #metroscuadrados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 7px solid #ffffff59;
}
#mamposteria #metroscuadrados p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1vh 1vw;
}
#mamposteria #metroscuadrados .cantidadmetros {
  margin: 3vh 0 3vh 9vw;
}
#mamposteria #metroscuadrados .cantidadmetros label {
  font-size: 1em;
  color: #27333a;
  text-align: center;
  padding: 1vh 2vw;
  margin: 3vh auto;
  font-weight: bold;
}
#mamposteria #metroscuadrados .cantidadmetros label input {
  width: 20%;
  color: white;
  font-weight: bold;
  background-color: #636e6f;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  height: 4vh;
  margin-left: 2vw;
  text-align: center;
}
#mamposteria #botoncalcular {
  width: 30%;
  margin: 4vh 0 4vh 5vw;
}
@media only screen and (max-width: 680px) {
  #mamposteria #botoncalcular {
    width: 38%;
  }
}
#mamposteria #botoncalcular label input {
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 1vh 1vw;
  background-color: #27333a;
}
#mamposteria #botoncalcular label input:hover {
  opacity: 90%;
  background-color: #455964;
}

#revoqueexterior {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: #9db1b3;
  border-radius: 10px;
  position: absolute;
  top: 28%;
  left: 25%;
}
@media only screen and (max-width: 680px) {
  #revoqueexterior {
    width: 80%;
    position: absolute;
    top: 28%;
    left: 9vw;
  }
}
#revoqueexterior .titulotrabajo {
  font-size: 2em;
  color: #27333a;
  text-align: center;
  font-weight: bold;
  background-color: rgba(245, 245, 245, 0.35);
  width: 100%;
  padding: 3vh 0vw;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#revoqueexterior #revoque {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 7px solid #ffffff59;
}
#revoqueexterior #revoque p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1vh 1vw;
}
#revoqueexterior #revoque .tiporevoque {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 3vh 0 4vh 18vw;
}
#revoqueexterior #revoque .tiporevoque label {
  font-size: 1em;
  color: #27333a;
  text-align: left;
  margin-top: 1vh;
  font-weight: bold;
  width: 45%;
}
#revoqueexterior #metroscuadrados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 7px solid #ffffff59;
}
#revoqueexterior #metroscuadrados p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1vh 1vw;
}
#revoqueexterior #metroscuadrados .cantidadmetros {
  margin: 3vh 0 3vh 9vw;
}
#revoqueexterior #metroscuadrados .cantidadmetros label {
  font-size: 1em;
  color: #27333a;
  text-align: center;
  padding: 1vh 2vw;
  margin: 3vh auto;
  font-weight: bold;
}
#revoqueexterior #metroscuadrados .cantidadmetros label input {
  width: 20%;
  color: white;
  font-weight: bold;
  background-color: #636e6f;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  height: 4vh;
  margin-left: 2vw;
  text-align: center;
}
#revoqueexterior #botoncalcular {
  width: 30%;
  margin: 4vh 0 4vh 5vw;
}
#revoqueexterior #botoncalcular label input {
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 1vh 1vw;
  background-color: #27333a;
}
#revoqueexterior #botoncalcular label input:hover {
  opacity: 90%;
  background-color: #455964;
}

#revoqueinterior {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: #9db1b3;
  border-radius: 10px;
  position: absolute;
  top: 28%;
  left: 25%;
}
@media only screen and (max-width: 680px) {
  #revoqueinterior {
    width: 80%;
    position: absolute;
    top: 28%;
    left: 9vw;
  }
}
#revoqueinterior .titulotrabajo {
  font-size: 2em;
  color: #27333a;
  text-align: center;
  font-weight: bold;
  background-color: rgba(245, 245, 245, 0.35);
  width: 100%;
  padding: 3vh 0vw;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#revoqueinterior #revoque {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 7px solid #ffffff59;
}
#revoqueinterior #revoque p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1vh 1vw;
}
#revoqueinterior #revoque .tiporevoque {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 3vh 0 4vh 18vw;
}
@media only screen and (max-width: 680px) {
  #revoqueinterior #revoque .tiporevoque {
    margin: 3vh auto;
  }
}
#revoqueinterior #revoque .tiporevoque label {
  font-size: 1em;
  color: #27333a;
  text-align: left;
  margin-top: 1vh;
  font-weight: bold;
  width: 45%;
}
#revoqueinterior #metroscuadrados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 7px solid #ffffff59;
}
#revoqueinterior #metroscuadrados p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1vh 1vw;
}
#revoqueinterior #metroscuadrados .cantidadmetros {
  margin: 3vh 0 3vh 9vw;
}
#revoqueinterior #metroscuadrados .cantidadmetros label {
  font-size: 1em;
  color: #27333a;
  text-align: center;
  padding: 1vh 2vw;
  margin: 3vh auto;
  font-weight: bold;
}
#revoqueinterior #metroscuadrados .cantidadmetros label input {
  width: 20%;
  color: white;
  font-weight: bold;
  background-color: #636e6f;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  height: 4vh;
  margin-left: 2vw;
  text-align: center;
}
#revoqueinterior #botoncalcular {
  width: 30%;
  margin: 4vh 0 4vh 5vw;
}
#revoqueinterior #botoncalcular label input {
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 1vh 1vw;
  background-color: #27333a;
}
#revoqueinterior #botoncalcular label input:hover {
  opacity: 90%;
  background-color: #455964;
}

#contrapiso {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: #9db1b3;
  border-radius: 10px;
  position: absolute;
  top: 28%;
  left: 25%;
}
@media only screen and (max-width: 680px) {
  #contrapiso {
    width: 80%;
    position: absolute;
    top: 28%;
    left: 9vw;
  }
}
#contrapiso .titulotrabajo {
  font-size: 2em;
  color: #27333a;
  text-align: center;
  font-weight: bold;
  background-color: rgba(245, 245, 245, 0.35);
  width: 100%;
  padding: 3vh 0vw;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#contrapiso #metroscuadrados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 7px solid #ffffff59;
}
#contrapiso #metroscuadrados p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1vh 1vw;
}
#contrapiso #metroscuadrados .cantidadmetros {
  margin: 3vh 0 3vh 9vw;
}
#contrapiso #metroscuadrados .cantidadmetros label {
  font-size: 1em;
  color: #27333a;
  text-align: center;
  padding: 1vh 2vw;
  margin: 3vh auto;
  font-weight: bold;
}
#contrapiso #metroscuadrados .cantidadmetros label input {
  width: 20%;
  color: white;
  font-weight: bold;
  background-color: #636e6f;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  height: 4vh;
  margin-left: 2vw;
  text-align: center;
}
#contrapiso #espesorcapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 7px solid #ffffff59;
}
#contrapiso #espesorcapa p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1vh 1vw;
}
#contrapiso #espesorcapa .espesorcapacm {
  margin: 3vh 0 3vh 9vw;
}
#contrapiso #espesorcapa .espesorcapacm label {
  font-size: 1em;
  color: #27333a;
  text-align: center;
  padding: 1vh 2vw;
  margin: 3vh auto;
  font-weight: bold;
}
#contrapiso #espesorcapa .espesorcapacm label input {
  width: 20%;
  color: white;
  font-weight: bold;
  background-color: #636e6f;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  height: 4vh;
  margin-left: 2vw;
  text-align: center;
}
#contrapiso #botoncalcular {
  width: 30%;
  margin: 4vh 0 4vh 5vw;
}
#contrapiso #botoncalcular label input {
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 1vh 1vw;
  background-color: #27333a;
}
#contrapiso #botoncalcular label input:hover {
  opacity: 90%;
  background-color: #455964;
}

#carpeta {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: #9db1b3;
  border-radius: 10px;
  position: absolute;
  top: 28%;
  left: 25%;
}
@media only screen and (max-width: 680px) {
  #carpeta {
    width: 80%;
    position: absolute;
    top: 28%;
    left: 9vw;
  }
}
#carpeta .titulotrabajo {
  font-size: 2em;
  color: #27333a;
  text-align: center;
  font-weight: bold;
  background-color: rgba(245, 245, 245, 0.35);
  width: 100%;
  padding: 3vh 0vw;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#carpeta #metroscuadrados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 7px solid #ffffff59;
}
#carpeta #metroscuadrados p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1vh 1vw;
}
#carpeta #metroscuadrados .cantidadmetros {
  margin: 3vh 0 3vh 9vw;
}
#carpeta #metroscuadrados .cantidadmetros label {
  font-size: 1em;
  color: #27333a;
  text-align: center;
  padding: 1vh 2vw;
  margin: 3vh auto;
  font-weight: bold;
}
#carpeta #metroscuadrados .cantidadmetros label input {
  width: 20%;
  color: white;
  font-weight: bold;
  background-color: #636e6f;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  height: 4vh;
  margin-left: 2vw;
  text-align: center;
}
#carpeta #botoncalcular {
  width: 30%;
  margin: 4vh 0 4vh 5vw;
}
#carpeta #botoncalcular label input {
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 1vh 1vw;
  background-color: #27333a;
}
#carpeta #botoncalcular label input:hover {
  opacity: 90%;
  background-color: #455964;
}

#error {
  font-size: 2em;
  color: red;
  text-align: center;
  background-color: rgba(201, 154, 154, 0.412);
  border: 2px solid white;
}

#headersecundario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  background-color: #52796F;
  border-bottom: 7px solid #cad2c582;
}
#headersecundario #menusecundario {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#headersecundario #menusecundario .contenedornavbarindex {
  width: 100%;
  animation-duration: 3.5s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@media only screen and (max-width: 780px) {
  #headersecundario #menusecundario .contenedornavbarindex {
    display: none;
  }
}
#headersecundario #menusecundario .contenedornavbarindex .navbarindex {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2F3E46;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 5px rgba(0, 0, 0, 0.36);
}
#headersecundario #menusecundario .contenedornavbarindex .navbarindex .menu1 {
  width: 25%;
}
#headersecundario #menusecundario .contenedornavbarindex .navbarindex a {
  display: block;
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  padding: 1vw 1vh;
  text-decoration: none;
}
#headersecundario #menusecundario .contenedornavbarindex .navbarindex a:hover {
  background-color: rgba(255, 255, 255, 0.33);
  opacity: 40%;
}
#headersecundario #menusecundario #titulosecundario {
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 1vh 1vw;
  margin: 4vh auto;
  margin-top: 2%;
  text-decoration: overline;
}
@media only screen and (max-width: 540px) {
  #headersecundario #menusecundario #titulosecundario {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 480px) {
  #headersecundario #menusecundario #titulosecundario {
    font-size: 1em;
    margin-top: 5vh;
  }
}
#headersecundario #menusecundario .menumobile {
  display: none;
}
@media only screen and (max-width: 780px) {
  #headersecundario #menusecundario .menumobile {
    display: block;
  }
}
#headersecundario #menusecundario .menumobile label {
  cursor: pointer;
}
#headersecundario #menusecundario .menumobile label .botonmenu {
  display: block;
  width: 98%;
  margin-left: 0.2vw;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 5px rgba(0, 0, 0, 0.36);
  background-color: #2F3E46;
  display: block;
  padding: 1vw 1vh;
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  font-weight: 900;
}
@media only screen and (max-width: 480px) {
  #headersecundario #menusecundario .menumobile label .botonmenu {
    width: 96%;
  }
}
#headersecundario #menusecundario .menumobile label .botonmenu span {
  display: block;
  width: 0vw;
  height: 4px;
  background: white;
  margin: 0vh 0 2vh 0;
}
#headersecundario #menusecundario .menumobile #menu-toggle {
  display: none;
}
#headersecundario #menusecundario .menumobile #desplegarmenu {
  display: none;
  text-align: center;
  padding: 10px 0;
  list-style: none;
  width: 100%;
  margin-top: -1vh;
  position: absolute;
  z-index: 100;
}
#headersecundario #menusecundario .menumobile #desplegarmenu li {
  border: 1px solid white;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 5px rgba(0, 0, 0, 0.36);
}
#headersecundario #menusecundario .menumobile #desplegarmenu li a {
  display: block;
  color: white;
  background-color: #2F3E46;
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  padding: 1vh 1vw;
  text-decoration: none;
}
#headersecundario #menusecundario #menu-toggle:checked + #desplegarmenu {
  display: block;
  animation-duration: 2.5s;
  animation-name: slidein1;
}
@keyframes slidein1 {
  from {
    height: 0%;
    opacity: 0%;
  }
  to {
    height: 100%;
    opacity: 100%;
  }
}

#resultadocimientos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 3vh auto;
}
@media only screen and (max-width: 1080px) {
  #resultadocimientos {
    flex-direction: column;
    width: 90%;
  }
}
#resultadocimientos .tituloresultado0 {
  font-size: 1.5em;
  color: black;
  font-weight: bold;
  width: 100%;
}
#resultadocimientos .zapatacorrida {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #52796F;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  width: 40%;
  margin: 2% 2%;
}
@media only screen and (max-width: 970px) {
  #resultadocimientos .zapatacorrida {
    width: 100%;
    margin-top: 1vh;
  }
}
#resultadocimientos .zapatacorrida #tituloresultado {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
}
#resultadocimientos .zapatacorrida #tablaresultados {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
}
#resultadocimientos .zapatacorrida #tablaresultados #material {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
#resultadocimientos .zapatacorrida #tablaresultados #material div {
  width: 100%;
  font-size: 1.1em;
  color: #36504a;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.083);
}
#resultadocimientos .zapatacorrida #tablaresultados #material p {
  font-size: 1em;
  color: white;
  text-align: center;
  padding: 1vh 1vw;
}
#resultadocimientos .zapatacorrida #tablaresultados #material p:hover a {
  color: rgba(255, 255, 255, 0.501);
}
#resultadocimientos .zapatacorrida #tablaresultados #material p a {
  color: white;
}
#resultadocimientos .zapatacorrida #tablaresultados #material p a:visited {
  color: white;
}
#resultadocimientos .zapatacorrida #tablaresultados #cantidad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#resultadocimientos .zapatacorrida #tablaresultados #cantidad div {
  width: 100%;
  font-size: 1.1em;
  color: #36504a;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.083);
}
#resultadocimientos .zapatacorrida #tablaresultados #cantidad p {
  font-size: 1em;
  color: white;
  text-align: center;
  padding: 1vh 1vw;
}
#resultadocimientos .zapatacorrida #tablaresultados #compra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#resultadocimientos .zapatacorrida #tablaresultados #compra div {
  width: 100%;
  font-size: 1.1em;
  color: #36504a;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.083);
}
#resultadocimientos .zapatacorrida #tablaresultados #compra p {
  font-size: 1em;
  color: white;
  text-align: center;
  padding: 1vh 1vw;
}

#hacerclick {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  color: black;
  margin: 4vh auto;
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  #hacerclick {
    font-size: 1.2em;
  }
}

#headersecundario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  background-color: #52796F;
  border-bottom: 7px solid #cad2c582;
}
#headersecundario #menusecundario {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#headersecundario #menusecundario .contenedornavbarindex {
  width: 100%;
  animation-duration: 3.5s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@media only screen and (max-width: 780px) {
  #headersecundario #menusecundario .contenedornavbarindex {
    display: none;
  }
}
#headersecundario #menusecundario .contenedornavbarindex .navbarindex {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2F3E46;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 5px rgba(0, 0, 0, 0.36);
}
#headersecundario #menusecundario .contenedornavbarindex .navbarindex .menu1 {
  width: 25%;
}
#headersecundario #menusecundario .contenedornavbarindex .navbarindex a {
  display: block;
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  padding: 1vw 1vh;
  text-decoration: none;
}
#headersecundario #menusecundario .contenedornavbarindex .navbarindex a:hover {
  background-color: rgba(255, 255, 255, 0.33);
  opacity: 40%;
}
#headersecundario #menusecundario #titulosecundario {
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 1vh 1vw;
  margin: 4vh auto;
  margin-top: 2%;
  text-decoration: overline;
}
@media only screen and (max-width: 540px) {
  #headersecundario #menusecundario #titulosecundario {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 480px) {
  #headersecundario #menusecundario #titulosecundario {
    font-size: 1em;
    margin-top: 5vh;
  }
}
#headersecundario #menusecundario .menumobile {
  display: none;
}
@media only screen and (max-width: 780px) {
  #headersecundario #menusecundario .menumobile {
    display: block;
  }
}
#headersecundario #menusecundario .menumobile label {
  cursor: pointer;
}
#headersecundario #menusecundario .menumobile label .botonmenu {
  display: block;
  width: 98%;
  margin-left: 0.2vw;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 5px rgba(0, 0, 0, 0.36);
  background-color: #2F3E46;
  display: block;
  padding: 1vw 1vh;
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  font-weight: 900;
}
@media only screen and (max-width: 480px) {
  #headersecundario #menusecundario .menumobile label .botonmenu {
    width: 96%;
  }
}
#headersecundario #menusecundario .menumobile label .botonmenu span {
  display: block;
  width: 0vw;
  height: 4px;
  background: white;
  margin: 0vh 0 2vh 0;
}
#headersecundario #menusecundario .menumobile #menu-toggle {
  display: none;
}
#headersecundario #menusecundario .menumobile #desplegarmenu {
  display: none;
  text-align: center;
  padding: 10px 0;
  list-style: none;
  width: 100%;
  margin-top: -1vh;
  position: absolute;
  z-index: 100;
}
#headersecundario #menusecundario .menumobile #desplegarmenu li {
  border: 1px solid white;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 5px rgba(0, 0, 0, 0.36);
}
#headersecundario #menusecundario .menumobile #desplegarmenu li a {
  display: block;
  color: white;
  background-color: #2F3E46;
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  padding: 1vh 1vw;
  text-decoration: none;
}
#headersecundario #menusecundario #menu-toggle:checked + #desplegarmenu {
  display: block;
  animation-duration: 2.5s;
  animation-name: slidein1;
}
@keyframes slidein1 {
  from {
    height: 0%;
    opacity: 0%;
  }
  to {
    height: 100%;
    opacity: 100%;
  }
}

#paginaproductos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 2vh;
}
#paginaproductos .lateralizq {
  display: flex;
  flex-direction: column;
  background-color: #52796f7c;
  border-right: 3px solid #52796F;
}
#paginaproductos .lateralizq div p {
  font-size: 1.1em;
  color: black;
  text-align: left;
  font-weight: bold;
}
#paginaproductos .lateralizq div {
  border-bottom: 2px solid rgba(255, 255, 255, 0.35);
}
#paginaproductos .lateralizq div a .productotitulo {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1em;
  padding: 1vh 1vw;
  background-color: rgba(255, 255, 255, 0.289);
}
#paginaproductos .lateralizq div a .productotitulo:hover {
  color: white;
  font-weight: bold;
}
@media only screen and (max-width: 860px) {
  #paginaproductos .lateralizq div a .productotitulo {
    font-size: 0.8em;
  }
}
#paginaproductos .lateralizq div a {
  text-decoration: none;
  color: black;
}
#paginaproductos .lateralizq div a .marca {
  font-size: 1em;
  margin-left: 3vw;
  width: 100%;
}
#paginaproductos .lateralizq div a .marca:hover {
  color: white;
  font-weight: bold;
}
@media only screen and (max-width: 860px) {
  #paginaproductos .lateralizq div a .marca {
    font-size: 0.8em;
  }
}

.lateralderecho {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 75vh;
  width: 70%;
}
.lateralderecho .titulolateral {
  font-size: 2em;
  font-weight: bold;
  color: black;
  margin: 2vh auto;
  text-align: center;
  width: 100%;
  height: 7vh;
  background-color: rgba(245, 245, 245, 0.316);
}
.lateralderecho .todaslasmarcas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: white;
  margin: 2vh 2vw;
  width: 25%;
  height: 35vh;
  padding: 1vh 1vw;
  box-shadow: 5px 5px 15px 5px #000000;
}
@media only screen and (min-width: 516px) and (max-width: 750px) {
  .lateralderecho .todaslasmarcas {
    width: 35%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 516px) {
  .lateralderecho .todaslasmarcas {
    width: 55%;
  }
}
@media only screen and (max-width: 480px) {
  .lateralderecho .todaslasmarcas {
    width: 85%;
  }
}
.lateralderecho .todaslasmarcas .foto {
  width: 39%;
  height: 55%;
}
.lateralderecho .todaslasmarcas p {
  font-size: 1.2em;
  padding: 1vh 1vw;
  text-align: center;
}
.lateralderecho .todaslasmarcas a {
  text-decoration: none;
  color: black;
}
.lateralderecho .todaslasmarcas a .botoncomprar {
  background-color: #172421c9;
  font-weight: bold;
  color: whitesmoke;
  font-size: 1em;
  text-align: center;
  margin: 1vh auto;
  padding: 1vh 1vw;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px #000000;
}
.lateralderecho .todaslasmarcas a .botoncomprar:hover {
  background-color: #17242144;
}

main #producto1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 65%;
  margin: 4vh auto;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: white;
}
@media only screen and (max-width: 680px) {
  main #producto1 {
    width: 90%;
  }
}
@media only screen and (max-width: 480px) {
  main #producto1 {
    flex-direction: column;
  }
}
main #producto1 .parteA {
  width: 35vw;
  margin: 1vh auto;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-right: 1px double black;
}
@media only screen and (max-width: 680px) {
  main #producto1 .parteA {
    width: 50vw;
  }
}
@media only screen and (max-width: 480px) {
  main #producto1 .parteA {
    width: 100%;
    border-right: none;
  }
}
main #producto1 .parteA .imagenproducto {
  margin: 2vh auto;
}
main #producto1 .parteA .imagenproducto img {
  border-radius: 10px;
  width: 20vw;
  height: auto;
  margin: 1vh 5%;
}
@media only screen and (min-width: 480px) and (max-width: 1080px) {
  main #producto1 .parteA .imagenproducto img {
    width: 12vw;
  }
}
main #producto1 .parteA .descripcionproducto {
  margin: 2vh auto;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}
@media only screen and (min-width: 480px) and (max-width: 1080px) {
  main #producto1 .parteA .descripcionproducto {
    font-size: 1em;
  }
}
main #producto1 .parteA .descripcionproducto .descriptitulo {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}
main #producto1 .parteA .descripcionproducto p {
  font-size: 0.8em;
}
main #producto1 .parteB {
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 1vh auto;
}
@media only screen and (max-width: 480px) {
  main #producto1 .parteB {
    width: 100%;
  }
}
main #producto1 .parteB .tituloproducto {
  margin: 1vh auto;
}
main #producto1 .parteB .tituloproducto h1 {
  font-weight: bold;
  text-align: left;
}
@media only screen and (min-width: 480px) and (max-width: 1080px) {
  main #producto1 .parteB .tituloproducto h1 {
    font-size: 1em;
  }
}
main #producto1 .parteB .precioproducto {
  margin: 2vh auto;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}
main #producto1 .parteB .precioproducto p {
  font-size: 0.6em;
}
main #producto1 .parteB .agregaralcarro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 11vh;
}
@media only screen and (max-width: 480px) {
  main #producto1 .parteB .agregaralcarro {
    margin-top: 0vh;
  }
}
main #producto1 .parteB .agregaralcarro .cantidadproductos {
  border-radius: 10px;
  background-color: white;
  width: 15%;
  height: 5vh;
  color: black;
  margin: 1vh 4vw;
  text-align: center;
}
main #producto1 .parteB .agregaralcarro .botoncarro {
  color: white;
  background-color: red;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px #000000;
  width: 50%;
  height: 8vh;
  font-size: 1.4em;
  margin-top: 3vh;
}
main #producto1 .parteB .agregaralcarro .botoncarro:hover {
  background-color: rgba(255, 0, 0, 0.624);
}
@media only screen and (max-width: 1080px) {
  main #producto1 .parteB .agregaralcarro .botoncarro {
    font-size: 1em;
  }
}
@media only screen and (max-width: 680px) {
  main #producto1 .parteB .agregaralcarro .botoncarro {
    width: 58%;
  }
}

.sectionproductos {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.sectionproductos .contenedorproductos {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  margin-top: 4vh;
}
.sectionproductos .contenedorproductos .descripciones {
  display: flex;
  display: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
}
.sectionproductos .contenedorproductos .descripciones p {
  font-size: 1.1em;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-right: 9vw;
}
.sectionproductos .contenedorproductos #elementoAComprar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 2vh;
  width: 90%;
}
.sectionproductos .contenedorproductos #elementoAComprar p {
  font-size: 1.1em;
  color: black;
  text-align: left;
  margin: 0vh auto;
}
.sectionproductos .contenedorproductos #elementoAComprar .botonEliminar {
  border: none;
  background-color: none;
  color: #333131;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  margin-right: 2vw;
}
.sectionproductos .div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% auto;
}
.sectionproductos .div1 #totalCarrito {
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sectionproductos .div1 #totalCarrito .resumencompra {
  font-size: 2em;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 1vw 1vh;
  border-bottom: 1px solid black;
}
.sectionproductos .div1 #totalCarrito #subtotal {
  font-size: 1.3em;
  color: black;
  text-align: left;
  padding: 1vh 1vw;
}
.sectionproductos .div1 #totalCarrito #total {
  font-size: 1.4em;
  font-weight: bold;
  color: black;
  background-color: rgba(95, 158, 160, 0.248);
  padding: 1vh 1vw;
  text-align: left;
  width: 92%;
  margin: 1vh 0vw 0vh 0vw;
}
.sectionproductos .div1 .botonComprar {
  color: white;
  background-color: red;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px #000000;
  width: 50%;
  height: 8vh;
  font-size: 1.4em;
  margin-top: 3vh;
}

.div2 {
  display: flex;
  flex-direction: column;
}

.elementos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.elementos img {
  width: 4vw;
  height: 10vh;
  border-radius: 10px;
  margin: 0vh auto;
}
.elementos .nombrep {
  font-size: 1.1em;
  color: black;
  text-align: left;
  margin: 0vh auto;
}

/*# sourceMappingURL=style.css.map */
