    <main id="paginaproductos">
        <section class="lateralizq">
            <nav class="menuProductos">
                <label for="menu-toggle1">
                    <div class="botonProductos">
                        <p class="span">TODOS LOS PRODUCTOS <i class="fas fa-search-plus"></i><i class="far fa-hand-point-left"></i></p>
                    </div>
                </label>
                <input type="checkbox" id="menu-toggle1">
                <ul id="desplegarProductos">
                    <li>
                        <a nohref onclick="mostrarCementoGeneral();" class="linkCemento">
                            <p class="productotitulo">Cemento</p>
                        </a>
                    </li>
                    <li>
                        <a href=" #/lomanegra">
                            <p class="marca">Cemento Loma Negra</p>
                        </a>
                    </li>
                    <li>
                        <a href=" #/avellaneda">
                            <p class="marca">Cemento Avellaneda</p>
                        </a>
                    </li>
                    <li>
                        <a href=" #/holcicom">
                            <p class="marca">Cemento Holcim</p>
                        </a>
                    </li>
                    <li>
                        <a href=" #/comodoro">
                            <p class="marca">Cemento Comodoro</p>
                        </a>
                    </li>
                    <li>
                        <a nohref class="linkArena" onclick="mostrarArenaGeneral(); return false">
                            <p class="productotitulo">Arena</p>
                        </a>
                    </li>
                    <li>
                        <a nohref onclick="mostrarCalGeneral();" class="linkCal">
                            <p class="productotitulo">Cal</p>
                        </a>
                    </li>
                    <li>
                        <a href=" #/malagueño">
                            <p class="marca">Cal Malagueño</p>
                        </a>
                    </li>
                    <li>
                        <a href=" #/santaelena">
                            <p class="marca">Cal Santa Elena</p>
                        </a>
                    </li>
                    <li>
                        <a href=" #/elmilagro">
                            <p class="marca">Cal El Milagro</p>
                        </a>
                    </li>
                    <li>
                        <a nohref onclick="mostrarHidrofugoGeneral();" class="linkHidrofugo">
                            <p class="productotitulo">Hidrofugo</p>
                        </a>
                    </li>
                    <li>
                        <a href=" #/protex">
                            <p class="marca">Hidrofugo Protex</p>
                        </a>
                    </li>
                    <li>
                        <a href=" #/sikasika">
                            <p class="marca">Hidrofugo Sika Sika</p>
                        </a>
                    </li>
                    <li>
                        <a href=" #/weber">
                            <p class="marca">Hidrofugo Weber</p>
                        </a>
                    </li>
                    <li>
                        <a nohref onclick="mostrarLadrilloGeneral();" class="linkLadrillo">
                            <p class="productotitulo">Ladrillos</p>
                        </a>
                    </li>
                    <li>
                        <a href=" #/ladrillocomun">
                            <p class="marca">Ladrillo comun</p>
                        </a>
                    </li>
                    <li>
                        <a href=" #/ladrillohueco12">
                            <p class="marca">Ladrillo ceramico hueco 12x18x33</p>
                        </a>
                    </li>
                    <li>
                        <a href=" #/ladrillohueco8">
                            <p class="marca">Ladrillo ceramico hueco 8x18x33</p>
                        </a>
                    </li>
                    <li>
                        <a href=" #/ladrillohueco18">
                            <p class="marca">Ladrill ceramico hueco 18x18x33</p>
                        </a>
                    </li>
                    <li>
                        <a href=" #/ladrillon">
                            <p class="marca">Ladrillon</p>
                        </a>
                    </li>
                    <li>
                        <a href=" #/bloquevibrado">
                            <p class="marca">Bloque de cemento vibrado</p>
                        </a>
                    </li>
                    <li>
                        <a nohref onclick="mostrarPiedraGeneral();" class="linkPiedra">
                            <p class="productotitulo">Piedra</p>
                        </a>
                    </li>
                    <li>
                        <a nohref onclick="mostrarPinturaGeneral();" class="linkPintura">
                            <p class="productotitulo">Pintura asfaltica</p>
                        </a>
                    </li>
                    <li>
                        <a href=" #/desutol">
                            <p class="marca">Dessutol</p>
                        </a>
                    </li>
                    <li>
                        <a href=" #/maxhaus">
                            <p class="marca">Maxhaus</p>
                        </a>
                    </li>
                    <li>
                        <a href=" #/megaflex">
                            <p class="marca">Megaflex</p>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="buscadorMateriales">
                <input type="text" id="buscador" onchange="borrarResultado()" onclick="ocultarResultado()" >
                <input type="button" value="Buscar" class="botonBuscar" onclick="mostrarBusqueda()">
            </div>
        </section>
        <div class="resultadobusqueda"></div>
        <section class="cementoGeneral">
            <section class="lateralderecho">
                <p class="titulolateral">CEMENTO</p>
                <div class="todaslasmarcas" id="CEMENTO LOMA NEGRA">
                    <img src="imagenes/cementolomanegra.jpg" alt="" class="foto">
                    <p>Cemento Loma Negra <br>$900.-</p>
                    <a href="#/lomanegra"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
                <div class="todaslasmarcas" id="CEMENTO AVELLANEDA">
                    <img src="imagenes/cementoavellaneda.jpg" alt="" class="foto">
                    <p>Cemento Avellaneda <br> $700.-</p>
                    <a href="#/avellaneda"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
                <div class="todaslasmarcas" id="CEMENTO HOLCIM">
                    <img src="imagenes/cementoholcim.jpg" alt="" class="foto">
                    <p>Cemento Holcim <br>$650.- </p>
                    <a href="#/holcicom"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
                <div class="todaslasmarcas" id="CEMENTO COMODORO">
                    <img src="imagenes/cementocomodoro.png" alt="" class="foto">
                    <p>Cemento Comodoro <br>$890.-</p>
                    <a href="#/comodoro"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
            </section>
        </section>
        <section class="arenaGeneral">
            <section class="lateralderecho">
                <p class="titulolateral">ARENA</p>
                <div class="todaslasmarcas">
                    <img src="imagenes/arena.jpg" alt="" class="foto">
                    <p>M3 Arena <br>$1950.-</p>
                    <a href="#/arenacarro">
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
            </section>
        </section>
        <section class="calGeneral">
            <section class="lateralderecho">
                <p class="titulolateral">CAL</p>
                <div class="todaslasmarcas">
                    <img src="imagenes/cal3.jpg" alt="" class="foto">
                    <p>Cal Malagueño <br>$800.-</p>
                    <a href="#/malagueño"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
                <div class="todaslasmarcas">
                    <img src="imagenes/cal1.jpg" alt="" class="foto">
                    <p>Cal Santa Elena <br> $900.-</p>
                    <a href="#/santaelena"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
                <div class="todaslasmarcas">
                    <img src="imagenes/cal2.jpg" alt="" class="foto">
                    <p>Cal El Milagro <br>$970.- </p>
                    <a href="#/elmilagro"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
            </section>
        </section>
        <section class="hidrofugoGeneral">
            <section class="lateralderecho">
                <p class="titulolateral">HIDROFUGO</p>
                <div class="todaslasmarcas">
                    <img src="imagenes/hidrofugoprotex.jpg" alt="" class="foto">
                    <p>Hidrofugo Protex <br>$300.-</p>
                    <a href="#/protex"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
                <div class="todaslasmarcas">
                    <img src="imagenes/hidrofugosika.jpg" alt="" class="foto">
                    <p>Hidrofugo Sika Sika <br> $400.-</p>
                    <a href="#/sikasika"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
                <div class="todaslasmarcas">
                    <img src="imagenes/hidrofugoweber.jpg" alt="" class="foto">
                    <p>Hidrofugo Weber <br>$370.- </p>
                    <a href="#/weber"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
            </section>
        </section>
        <section class="ladrilloGeneral">
            <section class="lateralderecho">
                <p class="titulolateral">LADRILLOS</p>
                <div class="todaslasmarcas">
                    <img src="imagenes/ladrillocomun.jpg" alt="" class="foto">
                    <p>Ladrillo comun <br>$30.-</p>
                    <a href="#/ladrillocomun"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
                <div class="todaslasmarcas">
                    <img src="imagenes/hueco12.jpg" alt="" class="foto">
                    <p>Ladrillo ceramico hueco 12x18x33 <br> $50.-</p>
                    <a href="#/ladrillohueco12"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
                <div class="todaslasmarcas">
                    <img src="imagenes/hueco8.png" alt="" class="foto">
                    <p>Ladrillo ceramico hueco 8x18x33 <br>$50.- </p>
                    <a href="#/ladrillohueco8"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
                <div class="todaslasmarcas">
                    <img src="imagenes/hueco18.jpg" alt="" class="foto">
                    <p>Ladrillo ceramico hueco 18x18x33 <br>$50.- </p>
                    <a href="#/ladrillohueco18"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
                <div class="todaslasmarcas">
                    <img src="imagenes/ladrillon.jpg" alt="" class="foto">
                    <p>Ladrillon <br>$40.- </p>
                    <a href="#/ladrillon"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
                <div class="todaslasmarcas">
                    <img src="imagenes/cementovibrado.jpg" alt="" class="foto">
                    <p>Bloque de cemento vibrado <br>$55.- </p>
                    <a href="#/bloquevibrado"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
            </section>
        </section>
        <section class="piedraGeneral">
            <section class="lateralderecho">
                <p class="titulolateral">PIEDRA</p>
                <div class="todaslasmarcas">
                    <img src="imagenes/piedra.jpg" alt="" class="foto">
                    <p>M3 Piedra <br>$4000.-</p>
                    <a href="#/piedracarro"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
            </section>
        </section>
        <section class="pinturaGeneral">
            <section class="lateralderecho">
                <p class="titulolateral">PINTURA ASFALTICA</p>
                <div class="todaslasmarcas">
                    <img src="imagenes/maxhaus.png" alt="" class="foto">
                    <p>Pintura asfaltica Maxhaus <br>$780.-</p>
                    <a href="#/maxhaus"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
                <div class="todaslasmarcas">
                    <img src="imagenes/megaflex.jpg" alt="" class="foto">
                    <p>Pintura asfaltica Megaflex <br> $700.-</p>
                    <a href="#/megaflex"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
                <div class="todaslasmarcas">
                    <img src="imagenes/dessutol.jpg" alt="" class="foto">
                    <p>Pintura asfaltica Dessutol <br>$600.- </p>
                    <a href="#/desutol"  >
                        <input type="button"  value="Comprar" class="botoncomprar">
                    </a>
                </div>
            </section>
        </section>
    </main>
<!-- Link js -->
    <!-- <script defer src="../js/funcionesProductosGeneral.js"></script>
    <script src="../js/objetos.js"></script> -->
