//Header
@import "../sections/headersecundario";

//Pagina que muestra todos los productos de un mismo material

#paginaproductos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 2vh;
    .lateralizq{
        display: flex;
        flex-direction: column;
        background-color: #52796f7c;
        border-right: 3px solid #52796F ;
        div p{
            font-size: 1.1em;
            color: black;
            text-align: left;
            font-weight: bold;
        }
        div{
            border-bottom: 2px solid rgba(255, 255, 255, 0.35);
            a {
                .productotitulo{
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    font-size: 1em;
                    padding: 1vh 1vw;
                    background-color: rgba(255, 255, 255, 0.289);
                    &:hover{
                        color: rgb(255, 255, 255);
                        font-weight: bold;
                    }
                    @media only screen and (max-width:860px){
                        font-size: 0.8em;
                    }
                }
            }
            a{
                text-decoration: none;
                color: black;
                .marca{
                    font-size: 1em;
                    margin-left: 3vw;
                    width: 100%;
                    &:hover{
                        color: rgb(255, 255, 255);
                        font-weight: bold;
                    }
                
                @media only screen and (max-width:860px){
                    font-size: 0.8em;
                }
            }
                }
            }
        }
        }

    .lateralderecho{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        height: 75vh;
        width: 70%;
        .titulolateral{
            font-size: 2em;
            font-weight: bold;
            color: black;
            margin: 2vh auto;
            text-align: center;
            width: 100%;
            height: 7vh;
            background-color: rgba(245, 245, 245, 0.316);
        }
        .todaslasmarcas{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            background-color: white;
            margin: 2vh 2vw;
            width: 25%;
            height: 35vh;
            padding: 1vh 1vw;
            box-shadow: 5px 5px 15px 5px #000000;
        @media only screen and (min-width:516px) and (max-width:750px){
            width: 35%;
        }
        @media only screen and (min-width:480px) and (max-width:516px){
            width: 55%;
        }
        @media only screen and (max-width:480px){
            width: 85%;
        }
            .foto{
                width: 39%;
                height: 55%;
            }
            p{
                font-size: 1.2em;
                padding: 1vh 1vw;
                text-align: center;
            }
                a{
                    text-decoration: none;
                    color: black;
                    .botoncomprar{
                        background-color:#172421c9;
                        font-weight: bold;
                        color: whitesmoke;
                        font-size: 1em;
                        text-align: center;
                        margin: 1vh auto;
                        padding: 1vh 1vw;
                        border-radius: 10px;
                        box-shadow: 5px 5px 15px 5px #000000;
                        &:hover{
                            background-color:#17242144;
                        }
                    }
                }
        }
    }
