// Index
// Header
@import "../sections/headerindex";
//Trabajos
@import "../sections/trabajos";
// Cimientos
@import "../sections/cimientos";
// Capa aisladora
@import "../sections/capaaisladora";
// Mamposteria
@import "../sections/mamposteria";
// Revestimiento
@import "../sections/revestimiento";
// Piso
@import "../sections/piso";
//Error
#error{
    display: none;
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    
    position: fixed;
    z-index: 999;
    #goBackCimientos{
        box-shadow: 5px 5px 15px 5px #000000;
            border-radius: 10px;
            color: white;
            font-weight: bold;
            font-size: 0.9em;
            padding: 1vh 1vw;
            margin: 4vh auto;
            background-color: #27333a;
            position:absolute;
            top:60%;
            left: 43%;
            width: 15%;   
            border-radius: 10px;    
            &:hover{
                opacity: 90%;
                background-color: #455964;
            }
    }
}
#errorNumero{
    display: none;
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
    
}



