//Pagina con precio, descripcion y boton para agregar al carrito
main #producto1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 65%;
    margin: 4vh auto;
    box-shadow: 5px 5px 15px 5px #000000;
    background-color: white;
    @media only screen and  (max-width:680px){
        width: 90%;
    }
    @media only screen and  (max-width:480px){
        flex-direction: column;
    }
    .parteA{
        width: 35vw;
        margin: 1vh auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        border-right: 1px double black;
        @media only screen and  (max-width:680px){
            width: 50vw;
        }
        @media only screen and  (max-width:480px){
            width: 100%;
            border-right: none;
        }
        .imagenproducto{
            margin: 2vh auto;
            img{
                border-radius: 10px;
                width: 20vw;
                height: auto;
                margin: 1vh 5%;
                @media only screen and (min-width:480px) and (max-width:1080px){
                    width: 12vw;
                }
            }
        }
        .descripcionproducto{
            margin: 2vh auto;
            text-align: center;
            font-size: 1.4em;
            font-weight: bold;
            @media only screen and (min-width:480px) and (max-width:1080px){
                font-size: 1em;
            }
            .descriptitulo{
                font-size: 1em;
                font-weight: bold;
                text-align: left;
                // margin:2vh 0vw 0vh -11vw;
            }
            p{
                font-size: 0.8em;
                // text-align: left;
                // margin:2vh 0vw 0vh -10vw;
            }
        }
    }
    .parteB{
        // width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 1vh auto;
        @media only screen and  (max-width:480px){
            width: 100%;
        }
        .tituloproducto{
            margin: 1vh auto;
            h1{
                font-weight: bold;
                text-align: left;
                @media only screen and (min-width:480px) and (max-width:1080px){
                    font-size: 1em;
                }
            }
        }
        .precioproducto{
            margin: 2vh auto;
            text-align: center;
            font-size: 1.4em;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            p{
                font-size: 0.6em;
            }
        }
        .agregaralcarro{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 90%;
            margin-top: 11vh;
            @media only screen and  (max-width:480px){
                margin-top: 0vh;
            }
            #fueraStock{
                width: 90%;
                margin-bottom: 3vh;
                color: red;
                font-weight: bold;
                text-align: center;
            }
            .cantidad{
                font-size: 1.3em;
                font-weight: bold;
                padding: 1vh 1vw;
            }
            #botonAgregar{
                color:white;
                background-color: red;
                border-radius: 10px;
                width: 9%;
                height: 6vh;
                font-size: 1em;
                margin-top: 0vh;
                &:hover{
                    background-color: rgba(255, 0, 0, 0.624);
                }
                @media only screen and (max-width:1080px){
                    font-size: 1em;
                }
                @media only screen and(max-width:680px){
                    width: 58%;
                }
            }
            #contador-0{
                border-radius: 10px;
                background-color: white;
                width: 15%;
                height: 5vh;
                color: black;
                margin: 1vh 1vw;
                text-align: center;
            }
            #botonSacar{
                color:white;
                background-color: red;
                border-radius: 10px;
                width:9%;
                height: 6vh;
                font-size: 1em;
                margin-top: 0vh;
                &:hover{
                    background-color: rgba(255, 0, 0, 0.624);
                }
                @media only screen and (max-width:1080px){
                    font-size: 1em;
                }
                @media only screen and(max-width:680px){
                    width: 58%;
                }
            } 
            #botonAgregarProducto{
                color:white;
                background-color: red;
                border-radius: 10px;
                box-shadow: 5px 5px 15px 5px #000000;
                width: 50%;
                height: 8vh;
                font-size: 1.4em;
                margin-top: 3vh;
                margin-right: 1vw;
                &:hover{
                    background-color: rgba(255, 0, 0, 0.624);
                }
                @media only screen and (max-width:1080px){
                    font-size: 1em;
                }
                @media only screen and(max-width:680px){
                    width: 58%;
                }
             
            }
        }
    }
}

.contenedorconfirmacion{
    display: none;
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 999;
    #confirmacionAgregado{
        width: 40%;
        border-radius: 10px;
        background-color: whitesmoke;
        box-shadow: 5px 5px 15px 5px #000000;
        display: none;
        margin: auto;
        height: 30%;
    }

} 
.contadorCarrito{
    width: 2%;
    border: 0px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    color: red;
    padding: 1vh 0w;
    font-size: 0.6em;
    position: absolute;
    font-weight: bold;
    top: 2%;
    right: 2%;
    }