//Resultado calculos
//Header
@import "../sections/headersecundario";
//Main
//Resultados
@import "../sections/resultadocimientos";
//Hacer click
#hacerclick{
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    color: black;
    margin: 4vh auto;
    font-weight: bold;
    @media only screen and (max-width: 480px) {
        font-size: 1.2em;
    }
}